body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: white;
    
    
}

h1 {
    padding-top: 100px;
    
}

h5 {
    padding-bottom: 100px;
    
}

.bottompush {
    padding-bottom: 100px;
}